@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Playfair Display', serif;
  background-color: #0E0E0E!important ;
  color: white
}

.paradise-gradient {
  background: linear-gradient(135deg, #00B4DB 0%, #0083B0 100%);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}